<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Reset your %store_name password" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var customer.name":"Customer Name",
"var this.getUrl($store, 'customer/account/createPassword/', [_query:[id:$customer.id, token:$customer.rp_token]])":"Reset Password URL"
} @-->
{{template config_path="design/email/header_template"}}
<table border="0" width="100%" cellpadding="20" cellspacing="0">
    <tr>
        <td>
            <div class="top-info-sec">
                <h5 style="font-size: 30px; margin: 0 0 25px; color: #606a71; font-weight: bold; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;" class="greeting">{{trans "%name," name=$customer.name}}</h5>
                <div class="password-box">
                    <table border="0" width="100%" style="margin: 20px 0;">
                        <tr>
                            <td style="250px; text-align: center; vertical-align: middle;">
                                <div class="forgot-pass" style="padding: 0; text-align: center;"><img src="{{view url='Magento_Email/images/forgot-password.png'}}" width="160" height="160" alt="Forgot Password" /></div>
                            </td>
                            <td style="vertical-align: middle; width: 450px; padding-left: 20px;">
                                <p style="font-size: 16px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #3d3d3d; margin-bottom: 15px;">{{trans "There was recently a request to change the password for your account."}}</p>
                                <p style="font-size: 16px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #3d3d3d; margin: 0;">{{trans "If you requested this change, set a new password here:"}}</p>
                                <div style="margin: 25px 0; text-align: center;">
                                    <a class="button-link"  href="{{var this.getUrl($store,'customer/account/createPassword/',[_query:[token:$customer.rp_token],_nosid:1])}}" target="_blank"><img src="{{view url='Magento_Email/images/reset-button.png'}}" width="192" height="40" alt="Reset Password" /></a>
                                </div>
                                <p style="font-size: 16px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #3d3d3d; margin: 0;">{{trans "If you did not make this request, you can ignore this email and your password will remain the same."}}</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
