<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>		
		<section id="warehouse" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">           
            <label>QTY Status Setting</label>
            <tab>digital</tab>            
			<resource>Digital_Warehouse::warehouse</resource>
			<group id="view" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>QTY Status Setting</label>
                
                  <field id="inventory_status_qty" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>QTY Status Threshold</label>
					 <comment>Only digit.... Ex. 20</comment>
                 </field>				 
			 	 
             </group>   
		</section>      
	</system>
</config>
