<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Zdcs. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Backend/etc/menu.xsd">
    <menu>
       <add id="Zdcs_Digital::23Digital" title="23Digital Menu" module="Zdcs_Digital" sortOrder="10" resource="Zdcs_Digital::23Digital"/>        
    </menu>
</config>
